.App {
  text-align: center;
}

body {
  font-family: 'Poppins';
  background: #414242;
}
.chrono-icons {
  display: none; /* Hide the icons */
}

 .card-layout{
  width: 100vw;
  display: flex;
  column-gap: 5vw;
 }
.project-image{
  height: 300px;
  object-fit: cover;
  width: 40vw;
  object-position: 0 0;
}
.projectTitle{
  font-size: 28px;
  color: white;
  margin: 0px !important;
}
.projectDesc{
  font-size: 28px;
  font-size: 18px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 28px;
  width: 70%;
}
.project-button{
  width: fit-content;
  color: white;
}
.project-button a{
  font-size: 22px;
 color: #fff !important;
 text-decoration: none !important;
 cursor: pointer;
}
.card-description{
  margin: 0px !important;
}
.timeline-main-wrapper{
  min-height: 90px !important;
  overflow: hidden !important;
}
.project-button hr{
  color: #E3AB23;
  border: 1px solid;
 
}
.my-card{
  background: transparent !important;
}

.my-card:focus{
  outline: none !important;
}
.timeline-item-title{
  font-size: 28px;
  color: #AEAEAE !important;
}
.timeline-item-title.active{
  color: #E3AB23 !important;
  background: none !important;
}
.timeline-circle{
  background: #414242 !important;
  border: 2px solid #D9D9D9 !important;
}

.timeline-circle.active{
  background: #E3AB23 !important;
  border: 2px solid #E3AB23 !important;
}
.focus-visible>div:first-child{
  display: none;
}
.timeline-horz-item-container{
  width: 20vw !important;
  height: 100px !important;
}

.timeline-card-content{
  height: max-content !important;
}
.timeline-horz-card-wrapper{
  margin: 0 !important;
}
@media only screen and (max-width: 768px) {
  .timeline-horz-item-container{
    width: 20vw !important;
  }
  .projectTitle{
    font-size: 14px !important;
  }
  .projectDesc{
    font-size: 12px !important;
    width: 90%;
  }
  .project-button a{
    font-size: 12px !important;
  }
  .project-image{
    width: 35vw;
  }
  
}

@media only screen and (max-width: 1398px) {
  .projectDesc{
    width: 90%;
  }
}


@media only screen and (min-width: 1400px)   {

  .timeline-horz-item-container{
    width: 10vw !important;
  }
  }
button{
  background: red !important;
}
progress{
  display: none !important;
}
